<%=form_with(model:[:admin,article]) do |form|%>
  <div class="field">
    <%=form.label :title,class:'label'%>
    <%=form.text_field :title,class:'input'%>
  </div>
  <div class="field">
    <%=form.label :category_id,'文章分類',class:'label'%>
    <div class="select is-medium is-fullwidth">
      <%=form.collection_select :category_id,Category.all,:id,:name,class:'input'%>
    </div>
  </div>
  <div class="field">
    <%=form.label :content,class:'label'%>
    <%=form.rich_text_area :content,class:'text_area'%>
  </div>
  <div class="field">
    <%=form.submit class:'button is-info'%>
  </div>

<%end%>