<section class="section columns ">
  <div class="column mt-6">
    <h1 class="title">林宗慶/Benny</h1><br />

  </div>
  <div class="column">
    <figure class="image image is-150x150">
      <%= image_tag @info.picture.variant(resize_to_limit: [640, 640]),class:"is-rounded" if @info.picture.attached? %>
    </figure>
  </div>
  <!-- contact -->
  <%=render "side"%>
</section>

  <div class="hr"></div>

  <section class="section columns ">
    <!-- 簡介 與 歷程 -->
    <div class="box column has-text-link mx-1 mb-0">
      <div class="summary">
        <div class="title title-content">Introduce</div>
        <div class="summary-content">
          <pre><%= @info.summary %></pre>
        </div>
      </div>
      <hr>
      <%=render "experience",exps: @exps %>
    </div> 
    <!-- 作品 與 技能 -->
    <div class="box column has-text-link mx-1">
      <%=render "project" ,projects: @projects%>
        <hr>
        <%=render "skill" ,skills: @skills%>
    </div>

  </section>