<%= form_for project do |form|%>
<div class="field">
      <label class="label">名字</label>
      <div class="control">
        <%= form.text_field :priject_name ,class:"input"%>
      </div>
</div>

<div class="field">
      <label class="label">上傳大頭照</label>
      <div class="control">
        <%= form.file_field :project_picture %>
      </div>
</div>
<div class="field">
      <label class="label">簡介</label>
      <div class="summary">
        <%= form.text_area :project_content,class:"textarea" %>
      </div>
</div>
<div class="level">
<%= form.submit '送出'%>
</div>
<%end%>