<%=render "common/tab"%>
<%= image_tag @project.project_picture if @project.project_picture.attached? %>
<section class="section">
  <h1 class="title"><%= @project.project_name%></h1>
  <h2 class="subtitle">
    <%=@project.project_content%>
  </h2>
</section>
<%=link_to "返回作品列表",projects_path, class:"button is-primary"%>