




<%=link_to "新增個人簡介",new_admin_information_path,class:"button is-info"%>
<br>
<br>
<div class="columns has-shadow">
  <div class="column">
    <% @info.each do |info|%>
    <div class="box">
      <%=info.name%> <br>
      <%=info.summary.truncate(50) unless info.summary.nil?%><br>
      <%=link_to "編輯",edit_admin_information_path(info),class:"button is-info"%>
      <%=link_to "刪除",admin_information_path(info),method: :delete,data:{confirm:"Are you sure?"},class:"button is-danger"%>
    </div>
    <%end%>
  </div>
</div>