<nav class="navbar is-light has-shadow  has-background-dark " role="navigation" data-controller="nav" aria-label="main navigation">
      <div class="navbar-brand" >
          <%=link_to root_path,class:"navbar-item" do%>
            <i class="fas fa-bold fa-2x has-text-info-dark"></i>
          <%end%>
        </a>
    
        <a role="button" class="navbar-burger" data-action="click->nav#greet" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu  " data-nav-target="output">
        <div class="navbar-start ">
          <a class="navbar-item has-text-light">
            Home
          </a>
          <a class="navbar-item has-text-light">
            Project
          </a>
          <div class="navbar-item has-dropdown is-hoverable ">
            <a class="navbar-link has-text-light">
              Archives
            </a>
            <div class="navbar-dropdown has-text-light">
              <%=link_to "Categories",admin_categories_path,class:"navbar-item"%>
              <a class="navbar-item">
                Tags
              </a>
              <hr class="navbar-divider">
              <%if current_user%>
                <%=link_to "新增Project",new_project_path,class:"navbar-item"%>
                <%=link_to "新增Skill",new_skill_path,class:"navbar-item"%>
              <%end%>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%if user_signed_in?%>
              <%=link_to "登出",destroy_user_session_path,method:"delete",class:"button is-light"%>
              <%else%>
                <%=link_to "註冊",new_user_registration_path,class:"button is-primary"%>
                <%=link_to "登入",new_user_session_path,class:"button is-light"%>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </nav>
