<div class="field">
  <%=link_to '新增經歷' ,new_admin_experience_path,class:'button is-info'%>
</div>
<%@exp.each do |exp|%>
  <div class="field ">
    <article class="message is-primary ">
      <div class="message-body level">
          <div class="level-left">
             <%=time_tag exp.start_date,:format=>'%b %d,%Y',class:" is-one-fifth "%><p class=' is-one-fifth
             '>-</p>
               <%=time_tag exp.end_date ,:format=>'%b %d, %Y',class:" is-one-fifth "%>
          </div>
              <%=link_to exp.name,edit_admin_experience_path(exp),class:'has-text-black column is-one-third'%>
                <div class="level-right">
                  <%=link_to "刪除" ,admin_experience_path(exp),mothed: :delete,data:{confirm:"Are you
                    sure?!"},class:'button is-danger'%>
                </div>
      </div>
   </article>
  </div>
<%end%>