<!DOCTYPE html>
<html>
  <head>
    <title>Benny_Blog 管理系統</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-chche">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'backend', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  
    <%=render 'common/frontend/flash' if notice%>
    <%=render 'common/backend/nav'%>
    <%= render  'common/backend/tab'%>
    <div class="container"> <%= yield %></div>
  </body>
</html>
